<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MvcApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a> |
        <a asp-controller="Aptech" asp-action="Index">Aptech</a> |
        <a asp-controller="Vietnam" asp-action="Cities">Vietnam Cities</a>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
